{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>fivefrets.com | Home</title>
        <!--<script src='{% static "js/lib/modernizr-custom.js" %}'></script>-->
        <link rel="stylesheet" href='{% static "css/semantic.min.css" %}'>
        <link rel='stylesheet' href='{% static "css/site.css" %}'/>
    </head>

    <body>
        <div class="ui sidebar left vertical inverted borderless labeled icon menu">
            <div id="fflogo_1">{% include 'utils/logo.html' %}</div>
            {% include 'utils/navbar.html' %}
        </div>
        <div class="pusher">
            <div class="ui grid">
                <div class="row">
                    <div class="two wide computer only column">
                        <div class="ui left fixed vertical inverted borderless labeled icon menu">
                            <div id="fflogo_2">
                                {% include 'utils/logo.html' %}
                            </div>
                            {% include 'utils/navbar.html' %}
                        </div>
                    </div>
                    <div class="sixteen wide tablet fourteen wide computer column">
                        {% include 'utils/sidebar_icon.html' %}
                        {% include 'utils/searchbar.html' %}

                        {% block content %}{% endblock %}

                    </div>
                </div>
            </div>
            <div class="ui basic segment"></div>
            <footer>
                <div class="ui center aligned fluid container">
                    <div class="ui inverted segment">
                        <div class="ui inverted relaxed list">
                            <a class="item">Home</a>
                            <a class="item">About</a>
                            <a class="item">Frequenctly Asked Questions</a>
                            <a class="item">Chord Recongniton</a>
                            <a class="item">Facebook</a>
                            <a class="item">Twitter</a>
                            <a class="item">Disclaimer</a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <script src='{% static "js/require.js" %}' data-main='{% static "js/main-chords.js" %}'></script>
        <script src='{% static "js/require-config.js" %}'></script>
        {% block extra_script %}{% endblock %}
    </body>

</html>
</html>
</html>
