{% load flatpages %}
{% get_flatpages as flatpages %}
<footer>
    <div class="ui center aligned fluid container">
        <div class="ui inverted segment">
            <div class="ui inverted relaxed list">
                <a class="item" href="{% url 'main-home'%}">Home</a>
                <a class="item" href="https://www.facebook.com/fivefrets/" target="_blank">Facebook</a>
                <a class="item" href="https://twitter.com/infofivefrets" target="_blank">Twitter</a>
                {% for page in flatpages %}
                    <a class="item" href="{{ page.url }}">{{ page.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
