<svg height="55" version="1.1" width="110" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; top: -0.2px;" class="ui centered image">
    <defs></defs>
    <rect x="5" y="5" width="100" height="25" rx="2" ry="2" fill="none" stroke="#ffffff" style=""></rect>
    <path style="" fill="none" stroke="#ffffff" d="M5,10L105,10M5,15L105,15M5,20L105,20M5,25L105,25M27.82,5L27.82,30M46.57,5L46.57,30M66.57,5L66.57,30M87.66,5L87.66,30"></path>
    <circle cx="56.57" cy="17.5" r="0.75" fill="none" stroke="#ffffff" style=""></circle>
    <circle cx="18.91" cy="17.5" r="0.75" fill="none" stroke="#ffffff" style=""></circle>
    <text
        style="text-anchor: middle; font-family: &quot;Arial&quot;; font-size: 16px; stroke-opacity: 0;"
        x="55"
        y="40"
        text-anchor="middle"
        font-family="&quot;Arial&quot;"
        font-size="16px"
        stroke="#ffffff"
        fill="#ffffff"
        stroke-width="0.5"
        stroke-opacity="0">
        <tspan dy="5.5">f i v e f r e t s</tspan>
    </text>
</svg>
