{% load account %}

<a class="item" href="{% url 'main-home' %}">
    <i class="home icon"></i>Home
</a>
<a class="item" href="{% url 'song-browse' %}">
    <i class="list icon"></i>Browse Songs
</a>
{% if user.is_authenticated %}
  <a class="item" href="{% url 'profile-home' %}">
      <i class="user icon"></i>{% user_display user %}
  </a>
  <a class="item" href="{% url 'account_logout' %}">
      <i class="sign out icon"></i>logout
  </a>
{% else %}
  <a class="item" href="{% url 'account_login' %}">
      <i class="sign in icon"></i>login
  </a>
{% endif %}
