<div class="ui basic segment">
    <div class="ui grid">
        <div class="row">
            <div class="ui fluid inverted basic icon buttons">
                <button class="ui icon button ff_ytplayer_play"><i class="play icon"></i></button>
                <button class="ui icon button ff_ytplayer_stop"><i class="stop icon"></i></button>
                <button class="ui icon button ff_ytplayer_fast_backward" title="Start song from begining"><i class="fast backward icon"></i></button>
                <button class="ui icon button ff_ytplayer_backward"><i class="backward icon"></i></button>
                <button class="ui icon button ff_ytplayer_forward"><i class="forward icon"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="ui fluid inverted basic icon buttons">
                <button class="ui icon button"><i class="volume down icon"></i></button>
                <button class="ui ffdisabled button">Volume: 100</button>
                <button class="ui icon button"><i class="volume up icon"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="ui fluid inverted basic icon buttons">
                <button class="ui icon button"><i class="minus icon"></i></button>
                <button class="ui ffdisabled button">Speed: 1.0x</button>
                <button class="ui icon button"><i class="plus icon"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="ui fluid inverted basic icon buttons">
                <button class="ui icon button"><i class="minus icon"></i></button>
                <button class="ui ffdisabled button">Transpose: 0</button>
                <button class="ui icon button"><i class="plus icon"></i></button>
            </div>
        </div>
    </div>
</div>
