<div class="ui basic segment">
    <div class="ui mobile stackable two column grid">
        <div class="column">
            <div class="ui equal width grid">
                <div class="row">
                    <div class="column">
                        <button class="ui basic inverted fluid icon button" id="ff_start" title="Go to Start of the Song" data-postn="0">
                            <i class="fast backward icon"></i>
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui basic inverted fluid icon button" id="ff_play">
                            <i class="play icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui equal width grid">
                <div class="row">
                    <div class="column">
                        <div class="ui fluid inverted basic icon buttons">
                            <button class="ui icon button" id="ff_transpose_minus">
                                <i class="minus icon"></i>
                            </button>
                            <button class="ui ffdisabled button" id="ff_transpose_num">0</button>
                            <button class="ui icon button" id="ff_transpose_plus">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
