<div class="ui basic segment">
    <div class="ui four doubling stackable special cards">
        {% for song in song_list %}
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <a class="ui inverted button" href="{% url 'song-detail' song.youtube %}">Get Chords</a>
                            </div>
                        </div>
                    </div>
                    <img src="https://i.ytimg.com/vi/{{song.youtube}}/mqdefault.jpg">
                </div>
                <div class="content">
                    <a class="header" href="{% url 'song-detail' song.youtube %}">{{ song }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% if paginator.num_pages > 1 %}
    <div class="ui basic segment">
        <div class="ui tiny pagination inverted menu">
            {% for page in paginator.page_range %}
                <a class="{% if page_obj.number == page%}active{% endif %} item" href="?page={{ page }}" }}>
                    {{page}}
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
